
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class="divTable">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">Column A</div>
            <div class="divTableHead">Column B</div>
            <div class="divTableHead">Column C</div>
            <div class="divTableHead">Column D</div>
        </div>
    </div>
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">&hellip;</div>
            <div class="divTableCell">&hellip;</div>
            <div class="divTableCell">&hellip;</div>
            <div class="divTableCell">&hellip;</div>
        </div>
    </div>
</div>


<table>
    <thead>
        <tr>
            <th>Column A</th>
            <th>Column B</th>
            <th>Column C</th>
            <th>Column D</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>…</td>
            <td>…</td>
            <td>…</td>
            <td>…</td>
        </tr>
        …
    </tbody>
</table>